<router-outlet></router-outlet>


<h3>{{nameLower|uppercase}}</h3>
<br>
<h3>{{nameUpper|lowercase}}</h3>
<br>
<h3>{{fullName|titlecase}}</h3>

<hr>
<h3>fecha</h3>
<ol>
    <li>
        {{customDate}}
    </li>

    <li>
        {{customDate| date}}
    </li>
    <li>
        {{customDate| date:'short'}}
    </li>
    <li>
        {{customDate| date:'long'}}
    </li>
    <li>
        {{customDate| date:'MMM'}}
    </li>
    <li>
        {{customDate| date:'MMM dd,yyy'}}
    </li>
</ol>

<hr>

<ol>
    <li>
        {{customDate| date:'long':'GMT-6'}}
    </li>
    <li>
        {{customDate| date:'long':'GMT-5'}}
    </li>
    <li>
        {{customDate| date:'long':'':'es-DO'}}
    </li>
    
    <li>
        {{customDate| date:'long':'':'fr-CA'}}
    </li>
</ol>

<hr>
<h3>numero</h3>
<p>
    
    {{totalSells| number:'1.2-2'}}
</p>

<p>
    total de venta
    {{totalSells| currency:'DOP':'symbol-narrow':'1.4-4 '}}
</p>

<p>
    porciento de ganacia anual
    {{percent|percent}}
</p>
<hr>
<h3>texto i18n SelectPipe</h3>
<p>
    saludos para sr {{name}}, es un palcer invitarlo a nuestro evento
</p>

<p>
    actualmente  {{clients.length | i18nPlural:clientMap}} 
</p>
<button (click)="deleteClient()">borra cliente</button>
<hr>

<b>original</b>
<pre>{{clients}}</pre>

<b>slice:0:2</b>
<pre>{{clients | slice:0:2}}</pre>
<b>slice:1:3</b>
<pre>{{clients | slice:1:3}}</pre>
<hr>
<h3>
    json
</h3>

<pre>{{person | json}}</pre>

<h3>Key Value</h3>

<ul>
    <li *ngFor="let item of person |keyvalue">
        <b>{{item.key |titlecase}}:</b>{{item.value}}

    </li>
</ul>

<hr>
<!-- <pre *ngIf="!(myObsevableTimer | async)"> resolviendo observadores</pre>
<pre>{{myObsevableTimer | async}}</pre>

<pre *ngIf="!(promiseValue | async)"> resolviendo observadores</pre>
<pre>{{promiseValue | async}}</pre> -->

