<h4>Agregar personajes</h4>
<form class="row" (ngSubmit)="emitCharacter()">
  <div class="mb-3">
    <label for="Name" class="form-label">Nombre</label>
    <input type="text"[(ngModel)]="character.name" name="name" class="form-control" />
  </div>

  <div class="mb-3">
    <label for="Name" class="form-label">Poder</label>
    <input type="number" [(ngModel)]="character.power"  name="power" class="form-control" />
  </div>

  <button type="submit" class="btn btn-primary">Agregar</button>

  <!-- <pre>{{ character | json}}</pre> -->
</form>
