<h2>Por Capital</h2>
<hr>

<!-- (onvalue)="searchByCapital($event)" -->
<!-- [initialValue]="initialValue" -->
<div class="row">
    <div class="col">
        <!-- searchBox -->
       <shared-search-box placeholder="Buscar por capital"
       (onDebounce)="searchByCapital($event)"
      
      
       ></shared-search-box>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
        <shared-loading-spiner *ngIf="isLoading"></shared-loading-spiner>
         <countries-table [countries]="countries"></countries-table> 
    </div>
</div>